


.UIEditInlineWS .uiContainerList .RowResponsiveContainerLayout, 
.UIEditInlineWS .uiContainerList .OneRowResponsiveContainerLayout,
.UIEditInlineWS .uiContainerList .TwoColumnResponsiveContainerLayout,
.UIEditInlineWS .uiContainerList .ThreeColumnResponsiveContainerLayout,
.UIEditInlineWS .uiContainerList .FourColumnResponsiveContainerLayout, 
.UIEditInlineWS .uiContainerList .SmallBigColumnResponsiveContainerLayout, 
.UIEditInlineWS .uiContainerList .BigSmallColumnResponsiveContainerLayout {
  background: url("../image/Container.png") no-repeat;
  height: 34px;
}
.UIEditInlineWS .uiContainerList .OneRowResponsiveContainerLayout {
  background-position: 5px -824px;
}

.UIEditInlineWS .uiContainerList .TwoColumnResponsiveContainerLayout {
  background-position: 5px -574px;
}

.UIEditInlineWS .uiContainerList .ThreeColumnResponsiveContainerLayout {
  background-position: 5px -616px;
}
.UIEditInlineWS .uiContainerList .FourColumnResponsiveContainerLayout {
  background-position: 5px -657px;
}

.UIEditInlineWS .uiContainerList .SmallBigColumnResponsiveContainerLayout {
  background-position: 5px -741px;

}

.UIEditInlineWS .uiContainerList .BigSmallColumnResponsiveContainerLayout {
  background-position: 5px -699px;
}

.UIEditInlineWS .uiContainerList .RowResponsiveContainerLayout{
  background-position: 5px -781px;
}